.contact-list {
    list-style-type: none;
    padding-left: 0;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.bullet {
    width: 8px;
    height: 8px;
    background-color: #000;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.contact-name {
    font-weight: bold;
    margin-right: 5px;
}
